@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TreyWay Library</h1>
    <p class="lead">
        Treyway Library is a place that is a repository of information and gives every citizen equal access to it.
         That includes health information. And mental health information. It's a community space. It's a place of safety, a haven from the world.
      
    </p>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Vision</h2>
        <p>
            The Treyway Libraries system is recognized as a national leader in creativity and knowledge development, 
            offering access to data, information and knowledge in an environment supporting discovery, 
            reflection, synthesis and application.


        </p>
       
    </div>
    <div class="col-md-4">
        <h2>Mission</h2>
        <p>Treyway Library is committed to providing quality service and an excellent collection of materials to support the mission, goals, 
        educational, and research needs of students, staff, faculty, administration, and community users and in support of the College's diverse curriculum. 
        The Library is open to all citizens; borrowing privileges are described in the Borrowing Privileges Policy.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Contact Us</h2>
        <p>Get us along East Atlanta Zone 6</p>
        <p>e-Mail : treyway@zonesix</p>
        <p>Phone : 0203040968966</p>
    </div>
</div>